<ol>
  {{#each items as |item|}}
    <li>
      <h4>{{item.title}}</h4>
      <img class="admin-img"src="{{item.image}}" alt="Photo loading..." />
      {{update-item item=item update="update" destroyItem="destroyItem"}}
    </li>
  {{/each}}
</ol>
