img {
  height: 300px;
  width: 340px;
}

body {
  background-image: url("http://www.goodwp.com/images/201107/goodwp.com_19210.jpg");
}

.style-hover:hover {
  color: red;
  font-weight: bold;
}

footer {
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #e3f2fd;
  position: fixed;
}
