img {
  height: 300px;
  width: 340px;
}

.admin-img {
  height: 150px;
  width: 190px;
  margin-bottom: 5px;
}

.thin-text {
  font-weight: normal;
}

#boxshadow {
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  background: white;
}

body {
  background-image: url("http://www.goodwp.com/images/201107/goodwp.com_19210.jpg");
}

input, textarea, form {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #e3f2fd;
  position: fixed;
}
