img {
  height: 300px;
  width: 340px;
}
header h1  {
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  font-family: fantasy;
}
.admin-img {
  height: 150px;
  width: 190px;
  margin-bottom: 5px;
}

.thin-text {
  font-weight: normal;
}

#boxshadow {
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  background: white;
}

body {
  background-image: url("http://www.goodwp.com/images/201107/goodwp.com_19210.jpg");
}

input, textarea, form {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  margin-top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  color: white;
}

.background {
  background-color: #D9E0BC;
  padding: 10px;
  margin-bottom: 15px;
}

#total {
  color: white;
}
