<div class="container">
  <header>
    <h1>BamBoo</h1>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <!-- <li>{{#link-to 'about'}}About{{/link-to}}</li> -->
          <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>
    <div id="main" class="container">
      {{outlet}}
    </div>
  <footer>Copyright BamBoo 2016</footer>
</div>
